.popover {
	position: absolute;

	width: 100%;

	transform: translate(-50%, -100%);

	border: 1px solid grey;
	border-radius: 5px;

	color: #000000;
	font-size: 13px;

	&__title {
		padding-left: 7px;
		padding-right: 7px;

		line-height: 30px;
		font-size: 15px;
		background-color: #f6f6f6;

		border-radius: inherit;
	}

	&__text {
		padding-top: 7px;
		padding-left: 7px;
		padding-bottom: 7px;
		padding-right: 7px;

		border-radius: inherit;

		background-color: #ffffff;
	}

	&::after {
		content: "";
		position: absolute;

		left: 50%;
		bottom: -20px;

		width: 0;
		height: 0;

		border: 10px solid transparent;
		border-top: 10px solid grey;

		transform: translate(-50%);

		z-index: 2;
	}

	&::before {
		content: "";
		position: absolute;

		left: 50%;
		bottom: -19px;

		width: 0;
		height: 0;

		border: 10px solid transparent;
		border-top: 10px solid #ffffff;

		transform: translate(-50%);

		z-index: 3;
	}
}
